.Ready{
            font-size: 48px;
            font-family: "Poppins", Sans-serif;
            font-weight: 700;
           line-height: 2em;
}
.AtEzitech{
    font-size: 22px;
 
    color: #7A7A7A;
}
.Getsatr{
    margin-top: 5rem;
    margin-bottom: 5rem;
    border-radius: 20px;
    box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, 0.08);
    padding: 40px 40px 40px 40px;
}
.GET{
    padding: 20px 48px;
    font-weight: 500;
    font-family: "Poppin",sans-serif;
}
.col2{
    text-align: end;
    
}
.flexdev{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
}
