.imgedit{
  height: 60px;
  width: 150px;
}

.hero-section {
  background-size: cover;
  background-position: center;
  position: relative;
}
.Learn{
  font-size:50px;
  font-weight: bold;
  max-width: 80%;
    margin: 0 auto;
    line-height: 5rem;
}
.Utilize{
   line-height: 5rem;
  font-size: 30px;
}
.hero-overlay {
  position: absolute;
  inset: 0;
  z-index: 1;
  background: rgba(0, 60, 140, 0.65);
}
.hero-section{
      background-image: url("BgImg (1).jpeg");
   background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 120vh;
}
/* Tablet */
@media (max-width: 991px) {
  .Learn {
    font-size: 36px;
    line-height: 3.5rem;
    max-width: 95%;
  }

  .Utilize {
    font-size: 22px;
    line-height: 2.5rem;
  }
}

/* Mobile */
@media (max-width: 576px) {
  .Learn {
    font-size: 20px;
    line-height: 2.2rem;
  }
  .navbar{
    border-radius: 0 !important;
  }
  .img-fluid{
    width: 10%;
  }
  .imagesdown{
    display: flex;
    flex-direction: row;
  }

  .Utilize {
    font-size: 12px;
    line-height: 1.8rem;
  }

}
