.alumni{
    font-size: 37px;
   font-family: "Poppins", Sans-serif;
  font-weight: 700;
    line-height: 1.2em;
    margin-top: 5rem;
}
.Our{
    font-size: 22px;
    max-width: 70%;
    font-family: "Poppins", Sans-serif ;
   text-align: center;
   margin: 0 auto;
}